
h1{
    text-align: center;
    font-size: 45px;
}

.squ{
    display: grid;
    grid-template-columns: repeat(9, auto);
    width: 150px;
    margin: auto;
    justify-content: center;
}

.c, .sq {
    width: 50px;
    height: 50px;
    border: 0.5px solid rgb(83, 83, 83);
    color:rgb(79, 79, 79);
    text-align: center;
    font-size: 30px;
    background-color: rgb(246, 242, 242);
   
}

.card{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(9, auto);
}

h2{
    text-align: center;
}


.c, .sq {
    transition-duration: 0.4s;
     cursor: pointer;  
}

.c:hover {
  background-color: rgb(109, 108, 108);
  color:aliceblue;
}

.sq:hover {
   background-color: rgb(109, 108, 108);
  color:aliceblue;
}

#mistake {
    font-size: 21px;
    text-align: center;
    color:rgb(181, 181, 181);
}

.sq:nth-child(3n) {
    border-right: 3px solid rgb(64, 64, 64);
}
 
.sq:nth-child(-n+27):nth-child(n+19) {
border-bottom: 3px solid rgb(64, 64, 64);
}

.sq:nth-child(-n+54):nth-child(n+46) {
border-bottom: 3px solid rgb(64, 64, 64);
}

.sq:nth-child(-n+81):nth-child(n+73) {
border-bottom: 3px solid rgb(64, 64, 64);
}


.sq:nth-child(9n+1) {
    border-left: 3px solid rgb(64, 64, 64);
}

.sq:nth-child(-n+9) {
    border-top: 3px solid rgb(64, 64, 64);
}



