
h1{
    text-align: center;
    font-size: 45px;
}

.squ{
    display: grid;
    grid-template-columns: repeat(9, auto);
    width: 150px;
    margin: auto;
    justify-content: center;
    

}

.c, .sq {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(83, 83, 83);
    color:rgb(48, 48, 48);
    text-align: center;
    font-size: 30px;
    background-color: rgb(248, 238, 238);
}

.card{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(9, auto);
}

h2{
    text-align: center;
}


#reset {
    border: 2px solid rgb(83, 83, 83);
    color:rgb(48, 48, 48);
    text-align: center;
    font-size: 20px;
    background-color: rgb(248, 238, 238);
    width: 100px;
    height: 50px;
}







